<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Career Guidance</title>
    <link rel="stylesheet" href="../../public/css/style.css" />
  </head>
  <body>
    <header class="header">
      <nav class="flex">
        <a href="/" class="logo">CAREER GUIDANCE</a>
        <button class="header-menu">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </button>
        <form class="search">
          <div class="search__input">
            <input type="text" name="search" placeholder="Search course..." />
            <button class="search__btn">
              <img src="../../public/asset/ei_search.svg" alt="search icon" />
            </button>
          </div>
          <ul class="search__result list"></ul>
        </form>

        <ul class="menu-list">
          <li class="menu-list__item"><a href="/">Home</a></li>
          <li class="menu-list__item"><a href="/results">Results</a></li>
          <li class="menu-list__item"><a href="/courses">Courses</a></li>
          <li class="menu-list__item">
            <a href="/assessment">Take test</a>
          </li>
          <li class="menu-list__item desktop-search">
            <input type="text" name="search" placeholder="Search course..." />
            <img src="../../public/asset/ei_search.svg" alt="search icon" />
          </li>
        </ul>
      </nav>
      <nav>
        <ul class="search__result--desktop list"></ul>
      </nav>
    </header>
    <%- body %>
    <script type="module" src="../../public/js/index.js"></script>
  </body>
</html>
