<section aria-labelledby="hero-title" class="hero-section flex">
  <div class="hero-section__content flex">
    <h1 id="hero-title" class="hero-section__h1">
      Are you a final year student?
    </h1>
    <p>
      We know the pressure to succeed is intense, so we are here to alleivate
      some of that pressure by helping you choose a career path suited for you
    </p>
    <a class="btn cta--btn flex"
      >Proceed to Take test
      <!-- <div class="arrow-svg"></div> -->
    </a>
  </div>
  <div class="hero-section__mockups">
    <div class="page-image">
      <img
        src="../public/asset/desktop.svg"
        alt="question and radio buttons answer mockup design"
      />
    </div>
    <div class="personality-type-1">
      <img
        src="../public/asset/the-logician.svg"
        alt="The logician personality type card"
      />
    </div>
    <div class="personality-type-2">
      <img
        src="../public/asset/the-architect.svg"
        alt="The architect personality type card"
      />
    </div>
    <div class="mechatronics course">
      <img
        src="../public/asset/mechatronics.svg"
        alt="Mechatronics career card mockup"
      />
    </div>
    <div class="data-science course">
      <img
        src="../public/asset/data-science.svg"
        alt="Data Science career card mockup"
      />
    </div>
  </div>
</section>
<main class="mission flex">
  <h2 class="mission__title">we are committed to...</h2>
  <section class="mission__content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquam
      pretium lacus vulputate rhoncus. Vestibulum ac felis augue. Donec interdum
      lacus eget ante maximus congue.
    </p>
  </section>
  <ol class="list">
    <li class="card flex">
      <span class="card__number">1</span>
      <article class="card__info">
        <h3 class="body-intro-text">Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </article>
    </li>
    <li class="card flex">
      <span class="card__number">1</span>
      <article class="card__info">
        <h3 class="body-intro-text">Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </article>
    </li>
    <li class="card flex">
      <span class="card__number">1</span>
      <article class="card__info">
        <h3 class="body-intro-text">Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </article>
    </li>
  </ol>
</main>
<section aria-labelledby="about-us" class="about">
  <h2 id="about-us" class="large-text">About</h2>
  <!-- <h2 class="large-text">About Us</h2> -->
  <p class="about__paragraph">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquam
    pretium lacus vulputate rhoncus. Vestibulum ac felis augue. Donec interdum
    lacus eget ante maximus congue. Quisque ante elit, accumsan ac lacus eget,
    tempus porttitor tellus. Nullam quis mi at risus pretium finibus. Curabitur
    posuere erat eget nulla tempor lobortis. Aliquam pellentesque, mi ac rutrum
    euismod, velit sapien iaculis leo, non ullamcorper diam velit quis est.
  </p>
  <p class="about__paragraph">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquam
    pretium lacus vulputate rhoncus. Vestibulum ac felis augue. Donec interdum
    lacus eget ante maximus congue. Quisque ante elit, accumsan ac lacus eget,
    tempus porttitor tellus. Nullam quis mi at risus pretium finibus. Curabitur
    posuere erat eget nulla tempor lobortis. Aliquam pellentesque, mi ac rutrum
    euismod, velit sapien iaculis leo, non ullamcorper diam velit quis est.
  </p>
  <p class="about__paragraph">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquam
    pretium lacus vulputate rhoncus. Vestibulum ac felis augue. Donec interdum
    lacus eget ante maximus congue. Quisque ante elit, accumsan ac lacus eget,
    tempus porttitor tellus. Nullam quis mi at risus pretium finibus. Curabitur
    posuere erat eget nulla tempor lobortis. Aliquam pellentesque, mi ac rutrum
    euismod, velit sapien iaculis leo, non ullamcorper diam velit quis est.
  </p>
</section>
<section aria-labelledby="CTA-title" class="CTA-section container flex">
  <h3 id="CTA-title">Take test now</h3>
  <p>
    Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat
  </p>
  <!-- <button class="btn CTA__btn"> -->
  <a class="btn CTA__btn">Take Test</a>
  <!-- </button> -->
  <img
    class="CTA-section__image"
    src="../public/asset/mockups/mockup-career.svg"
    alt="mockup career details"
  />
</section>
<section aria-labelledby="how-it-works" class="guide container flex flex-fd-c">
  <h2 id="how-it-works" class="guide__title">How it works</h2>
  <p class="guide__info__text">
    Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat
  </p>
  <div class="guide__path">
    <div class="guide__path__lines">
      <div class="circle psuedo-update"></div>
      <div class="line"><span class="filled-line"></span></div>
    </div>
    <div class="guide__path__lines">
      <div class="circle psuedo-update"></div>
      <div class="line"><span class="filled-line"></span></div>
    </div>
    <article class="card">
      <h3 class="body-intro-text">INPUT YOUR ACADEMIC SCORE</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore
      </p>
    </article>
    <div class="guide__path__lines">
      <div class="circle psuedo-update"></div>
      <div class="line"><span class="filled-line"></span></div>
    </div>
    <article class="card">
      <h3 class="body-intro-text">TAKE THE PERSONALITY TYPE TEST</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam
      </p>
    </article>
    <div class="guide__path__lines">
      <div class="circle psuedo-update"></div>
      <div class="line"><span class="filled-line"></span></div>
    </div>
    <article class="guide__path__info card">
      <h3 class="body-intro-text">GET RESULTS</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore
      </p>
    </article>
    <div class="guide__path__lines">
      <div class="circle psuedo-update"></div>
    </div>
  </div>
</section>
<footer></footer>
