<section
  class="results__introduction container flex flex-fd-c"
  aria-labelledby="your-result"
>
  <h1 id="your-result">Your Result</h1>
  <p>
    It is a long established fact that a reader will be distracted by the
    readable ore-or-less normal distribution of letters,
  </p>
</section>
<main class="results__list container"></main>
<script src="../public/js/results.js"></script>
