:root {
  --bg-color: #1f1f47;
  --primary-color: #1b1837;
  --accent-color: #4895ef; //#4cc9f0;
  --secondary-color: #7f4bf6;
  --text-color: #edf6f9;
  --text-color2: #6ecadf;

  --border: inset 0.5px 0.5px rgba(237, 246, 249, 0.5),
    inset -0.5px -0.5px rgba(237, 246, 249, 0.5);
  --border-secondary-color: inset 0.5px 0.5px var(--secondary-color),
    inset -0.5px -0.5px var(--secondary-color);
}
