.chip {
  width: fit-content;
  padding: 0.2rem 1rem;
  border-radius: 20px;
  border: 1px solid var(--secondary-color);
  background-color: #7f4bf62b;
  color: var(--text-color-2);
  text-transform: capitalize;
}
